body{
    background: midnightblue;
}

.navbar{
    background: rgba(173, 173, 173, 0.4);
    text-decoration: none;
    color: white;
}

.navbar-brand{
    padding: 0;
    margin: 5px;
    margin-right: 15px;
    border-radius: 15px;
    overflow: hidden;
}

.nav-item{
    margin: 0 10px 0 10px;
}

#logo{
    height: inherit;
    width: auto;
}

.panel{
    background: rgba(245, 245, 245, 0.8);
}

label{
    color: black;
}
